[Desktop Entry]
Name=HQST
Exec=/home/Uranium-hnrmyfsx/Desktop/HQST_JQI/HQST1.0.sh
Type=Application
Terminal=false
#2025.3.2 2:48
#Uranium_hnrmyfsx
#ver1.0
